---
import type { ACTION_ERROR_CODES } from "astro:actions";

import menuOpenIcon from '../assets/menu-open.svg';
import menuCloseIcon from '../assets/menu-close.svg';

const links = [
  { href: "/about", text: "About" },
  { href: "/issues", text: "Issues" },
  { href: "/donate", text: "Donate" },
  { href: "/contact", text: "Contact" },
];
---

<header class="navbar">
  <div class="content-column-container">
    <div class="navbar-container">
      <a href="/" class="navbar-logo">Adam Shin for Provo</a>

      <!-- Desktop Navigation -->
      <nav class="navbar-links">
        {links.map(link => (
          <a href={link.href} class="nav-item">{link.text}</a>
        ))}
      </nav>

      <!-- Menu Button -->
      <button id="menu-button" class="menu-button">
        <img src={menuOpenIcon.src} class="size-6" style="stroke: #ff00ff">
      </button>
    </div>
  </div>

  <!-- Nav Menu -->
  <div id="nav-menu" class="nav-menu nav-menu-closed">
    <button id="nav-menu-close-button" class="nav-menu-close-button">
      <img src={menuCloseIcon.src} class="size-6">
    </button>

    <nav class="nav-menu-nav">
      {links.map(link => (
        <a href={link.href} class="nav-menu-nav-item">{link.text}</a>
      ))}
    </nav>
  </div>
</header>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const menuButton = document.getElementById("menu-button");
  const navMenuCloseButton = document.getElementById("nav-menu-close-button");
  const navMenu = document.getElementById("nav-menu");

  function showMenu() {
    navMenu?.classList.remove("nav-menu-closed");
    navMenu?.classList.add("nav-menu-open");
  }
  function hideMenu() {
    navMenu?.classList.remove("nav-menu-open");
    navMenu?.classList.add("nav-menu-closed");
  }

  function disableBackgroundScroll() {
    document.body.style.overflowY = "hidden";
  }
  function enableBackgroundScroll() {
    document.body.style.overflowY = "";
  }

  menuButton?.addEventListener("click", function () {
    disableBackgroundScroll();
    showMenu();
  });
  navMenuCloseButton?.addEventListener("click", function () {
    enableBackgroundScroll();
    hideMenu();
  });
});
</script>

<style>
  @reference "../styles/global.css";

  @theme {
    --breakpoint-navbar-break: 48rem;
  }

  .content-column-container {
    @apply h-full mx-auto ps-4 navbar-break:px-8 max-w-(--breakpoint-md);
  }

  .navbar {
    --link-padding: 1rem;
    @apply w-full h-14 navbar-break:h-16 bg-white shadow-lg;
  }

  .navbar-container {
    @apply h-full flex items-center justify-between overflow-hidden;
  }

  .navbar-logo {
    @apply h-full flex items-center text-xl navbar-break:text-2xl font-bold text-content-text whitespace-nowrap overflow-hidden;
  }

  .navbar-links {
    @apply h-full hidden navbar-break:flex -me-[var(--link-padding)];
  }

  .nav-item {
    @apply h-full flex items-center px-[var(--link-padding)] text-base font-medium text-content-text hover:text-sky-500;
  }

  .menu-button {
    @apply h-full w-14;
    @apply flex items-center justify-center;
    @apply cursor-pointer;
    @apply navbar-break:hidden;
  }

  /* Nav Menu */
  .nav-menu {
    @apply fixed inset-0 bg-white z-50 flex flex-col items-start;
    @apply overflow-y-auto;
  }

  .nav-menu-open {
    @apply opacity-100 transition-all duration-300 ease-out;
  }

  .nav-menu-closed {
    @apply opacity-0 translate-x-[25%] transition-all duration-200 ease-in;
    @apply pointer-events-none;
  }

  .nav-menu-nav {
    @apply w-full py-20 flex flex-col;
  }

  .nav-menu-nav-item {
    @apply text-[1.8rem] font-semibold text-content-text w-full px-12 py-3;
  }

  .nav-menu-close-button {
    @apply absolute top-0 right-0 size-14;
    @apply flex items-center justify-center;
    @apply cursor-pointer;
  }

</style>