---
import "../styles/global.css";

import Navbar from "../components/navbar/Navbar.astro";
import Footer from "../components/Footer.astro";

const siteTitle = "Adam Shin for Provo City Council";
const defaultDescription = "Strong Provo, strong future."

const { site } = Astro;
const { title, description, navbarTransparent = false } = Astro.props;

const pageTitle = title ? `${title} - ${siteTitle}` : siteTitle;
const pageUrl = new URL(Astro.url.pathname, site).toString();
const pageDescription = description ?? defaultDescription;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <link rel="icon" type="image/png" href="/assets/favicon.png">

  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  <!-- Meta description -->
  <meta name="description" content="Official site for Adam Shin, candidate for Provo City Council. Learn about the vision for housing, transparency, and safe neighborhoods.">

  <!-- Meta keywords -->
  <meta name="keywords" content="Provo, city council, Adam Shin, election, Utah politics, housing, transparency, safe streets">

  <!-- Social sharing -->
  <meta property="og:title" content={pageTitle}>
  <meta property="og:description" content={pageDescription}>
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://adamforprovo.com/assets/social-preview.jpg">
  <meta property="og:url" content={pageUrl}>

  <!-- Title -->
  <title>{pageTitle}</title>

</head>

<body>
  <Navbar transparent={navbarTransparent}/>
  <main><slot /></main>
  <Footer />
</body>

</html>

<style>
  @reference "../styles/global.css";

  body {
    @apply min-h-screen min-w-2xs;
    @apply bg-white;
    @apply flex flex-col;
  }
  main {
    @apply flex-1;
  }
</style>